@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<div style="padding-left: 50px; padding-right: 50px">
    <address>
        Proiect Afaceri Electronice<br />
        Stoian Maria Alina<br />
        <abbr title="Phone">Grupa:</abbr>
        1127
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:stoianmaria17@stud.ase.ro">stoianmaria17@stud.ase.ro</a><br />
        <strong>Marketing:</strong> <a href="mailto:stoianmaria17@stud.ase.ro">stoianmaria17@stud.ase.ro</a>
    </address>

</div>
